{:paths ["scripts"]
 :tasks
 {dev (run '-dev {:parallel true})
  -dev {:depends [dev:base dev:base:css dev:enhancement dev:enhancement:js]}
  dev:base (clojure "-Mbase/dev" "-J-XX:-OmitStackTraceInFastThrow")
  dev:base:css (shell "npm run dev")
  dev:enhancement (clojure "-Menhancement:enhancement/dev" "-J-XX:-OmitStackTraceInFastThrow")
  dev:enhancement:js (shell "npx webpack -w --mode development")
  test (run '-test {:parallel true})
  -test {:depends [test:be]}
  test:be (clojure "-Mbase/test")
  release {:depends [release:clean release:base release:base:css release:enhancement release:enhancement:js release:deploy]}
  release:clean (shell "rm -rf public")
  release:base (clojure "-Xbase/build")
  release:base:css (shell "npm run build")
  release:enhancement:js (shell "npx webpack --mode production")
  release:enhancement (shell "npx shadow-cljs -Aenhancement release app")
  release:deploy (shell "fly deploy")}}
