{:paths ["scripts"]
 :tasks
 {dev (run '-dev {:parallel true})
  -dev {:depends [dev:base dev:base:css dev:enhancement dev:enhancement:js]}
  dev:base (clojure "-Mbase/dev" "-J-XX:-OmitStackTraceInFastThrow")
  dev:base:css (shell "npm run dev")
  dev:enhancement (clojure "-Menhancement:enhancement/dev" "-J-XX:-OmitStackTraceInFastThrow")
  dev:enhancement:js (shell "npx webpack -w --mode development")

  test (run '-test {:parallel true})
  -test {:depends [test:be]}
  test:be (clojure "-Mbase/test")

  build {:depends [build:clean  build:base:css build:enhancement build:enhancement:js build:base]}
  build:clean (shell "rm -rf public")
  build:base (clojure "-Xbase/build")
  build:base:css (shell "npm run build")
  build:enhancement:js (shell "npx webpack --mode production")
  build:enhancement (shell "npx shadow-cljs -Aenhancement release app")

  release {:depends [build release:deploy]}
  release:deploy (shell "fly deploy")}}
