{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        org-parser/org-parser {:mvn/version "0.1.27"}
        venantius/glow {:mvn/version "0.1.6"}
        clj-rss/clj-rss {:mvn/version "0.3.0"}
        thheller/shadow-cljs {:mvn/version "2.18.0"}
        reagent/reagent {:mvn/version "1.1.1"}}
 :paths ["src/be" "src/fe" "resources"]
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {ring-refresh/ring-refresh {:mvn/version "0.1.2"}
                              ring/ring {:mvn/version "1.9.5"}}}
           :test {:extra-paths ["test"]}
           :build {:exec-fn tech.thomas-sojka.core/main}
           :test-runner-cognitect
           {:extra-paths ["test"]
            :extra-deps  {com.cognitect/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
            :main-opts   ["-m" "cognitect.test-runner"]}}}
