{:deps {rollacaster/org-parser-tree {:git/url "https://github.com/rollacaster/org-parser-tree" :sha "18a1f999a6c98f39d4650f90e1dc81e47faac186"}
        cheshire {:mvn/version "5.10.0"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        hiccup {:mvn/version "1.0.5"}
        hickory {:mvn/version "0.7.1"}}
 :paths ["src" "resources"]}
