{:deps {rollacaster/org-parser-tree {:git/url "https://github.com/rollacaster/org-parser-tree" :sha "e7510a6b3bc6abebfd4428c236e0e449c7be6ee1"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        hickory/hickory {:mvn/version "0.7.1"}
        org-parser/org-parser {:mvn/version "0.1.27"}}
 :paths ["src" "resources"]}
