;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]]

 :dev-http {8080 "public/"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [tech-thomas-sojka.app]}}
        :build-hooks
        [(tech-thomas-sojka.shadow-tailwind.dev-hook/build-dev-css
          "resources/styles.css"
          "public/css/styles.css")]}}}
