{:deps true
 :nrepl {:port 9005}
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [tech.thomas-sojka.app]}}
        :js-options {:js-provider :external
                     :external-index "target/index.js"}
        :devtools {:watch-dir "public"}}}}
