/* normalize */
blockquote,
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}

figure {
  margin: 0 0 2rem 0;
}

p {
  line-height: 1.625;
}

html {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  height: 100%;
  background-color: #f7fafc;
}

#content {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  min-height: 100%;
}

h3 {
  margin-bottom: 0.5rem;
}

.head a {
  color: white;
  text-decoration: none;
  border: none;
  font-weight: 400;
}

.head {
  color: white;
  margin-bottom: 3rem;
  padding: 1rem 0rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

section {
  padding: 0rem 2rem;
  max-width: 42rem;
  margin: auto;
}

.outline-2 {
  padding-bottom: 4rem;
  color: #111;
}

.outline-2 > h2 {
  margin-bottom: 1rem;
}

.org-ul {
  list-style-type: none;
  padding-left: 0rem;
  margin-top: 0.5rem;
}

.org-ul > li {
  margin-bottom: 1rem;
}

:not(figure) > a {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #111;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 1.5;
}
a:link,
.link:visited {
  transition: color 0.15s ease-in;
}
a:hover {
  transition: color 0.15s ease-in;
}
a:active {
  transition: color 0.15s ease-in;
}
a:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

img {
  max-width: 100%;
  margin: auto;
}

footer {
  background-color: #4a5568;
  color: white;
}

footer div {
  padding: 1rem 2rem;
  max-width: 42rem;
  margin: auto;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 0.5rem;
}

header {
  max-width: 42rem;
  padding: 0rem 2rem;
  margin: auto;
}

.title {
  font-size: 1.5em;
  text-align: left;
}

#preamble {
  background-color: #4a5568;
  text-align: center;
}
