/* normalize */
blockquote,
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}

figure {
  margin: 0 0 1em 0;
}

p {
  line-height: 1.625;
}

html {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7fafc;
}

#content {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  max-width: 64rem;
  margin: auto;
  padding: 5.5rem 2rem;
  flex: 1;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

#preamble header {
  padding: 0 2rem;
}

nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  transform: translateX(1.25rem);
}

nav > ul > li {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

nav > ul > li > a {
  color: white;
  border-width: 0;
}

.head a {
  color: white;
  text-decoration: none;
  border: none;
  font-weight: 400;
}

.head {
  color: white;
  padding: 1rem 0rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.org-src-container {
  background-color: #edf2f7;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

ul {
  padding-left: 1rem;
}

.org-ul > li {
  margin-bottom: 1rem;
}

:not(figure) > a {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #111;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 1.5;
}
a:link,
.link:visited {
  transition: color 0.15s ease-in;
}
a:hover {
  transition: color 0.15s ease-in;
}
a:active {
  transition: color 0.15s ease-in;
}
a:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

img {
  max-width: 100%;
  margin: auto;
}

footer {
  background-color: #4a5568;
  color: white;
}

footer div {
  padding: 1rem 2rem;
  max-width: 42rem;
  margin: auto;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 0.5rem;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
}

pre {
  overflow-x: auto;
  max-width: 77vw;
}

#preamble {
  width: 100%;
  background-color: #4a5568;
  text-align: center;
}

blockquote {
  background-color: #edf2f7;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #4a5568;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }
}

.bg-gray-700 {
  background-color: rgba(55, 65, 81, 1);
}
