/* normalize */
blockquote,
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}

p {
    line-height: 1.625
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#content {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  background-color: #f7fafc;
  height: 100%;
}

.title {
  color: white;
  margin-bottom: 3rem;
  padding: 1rem 0rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header {
  background-color: #4a5568;
}

section {
  max-width: 42rem;
  margin: auto;
}

.outline-2 {
  margin-bottom: 4rem;
  color: #111;
}

.outline-2 > h2 {
  margin-bottom: 1rem;
}

.org-ul {
  list-style-type: none;
  padding-left: 0rem;
  margin-top: 0.5rem;
}

.org-ul > li {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #111;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
a:link,
.link:visited {
  transition: color 0.15s ease-in;
}
a:hover {
  transition: color 0.15s ease-in;
}
a:active {
  transition: color 0.15s ease-in;
}
a:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}
